<%= form_for(@interviewee, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @interviewee.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@interviewee.errors.count, "error") %> prohibited this interviewee from being saved:</h4>

      <ul>
        <% @interviewee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mobile, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :mobile, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gender, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :gender, ['Feto','Mane'], {prompt: 'Please select'}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :occupation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :occupation, ["To'os na'in", 'Mestre / Mestra', 'Governu', "Loja na'in", 'Xofér', 'La Servisu'], {prompt: 'Please select'}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :education_level, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :education_level, ['Eskola Primária', 'SMP', 'SMA', 'Universidade'], {prompt: 'Please select'}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :age, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :age, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :locale_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:locale_id, Locale.all, :id, :full_name, class: "form-control") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lived_whole_life, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.check_box :lived_whole_life, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_language, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:first_language, Language.all, :name, :name, class: "form-control") %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
