<div class="page-header">
  <%= link_to interviewees_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_interviewee_path(@interviewee), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show interviewee</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @interviewee.name %></dd>

  <dt>Mobile:</dt>
  <dd><%= @interviewee.mobile %></dd>

  <dt>Email:</dt>
  <dd><%= @interviewee.email %></dd>

  <dt>Gender:</dt>
  <dd><%= @interviewee.gender %></dd>

  <dt>Occupation:</dt>
  <dd><%= @interviewee.occupation %></dd>

  <dt>Education level:</dt>
  <dd><%= @interviewee.education_level %></dd>

  <dt>Age:</dt>
  <dd><%= @interviewee.age %></dd>

  <dt>Locale:</dt>
  <dd><%= @interviewee.locale.full_name %></dd>

  <dt>Always lived here?:</dt>
  <dd><%= @interviewee.lived_whole_life %></dd>

  <dt>First Language:</dt>
  <dd><%= @interviewee.first_language %></dd>

</dl>
