<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :interview_time %><br>
    <%= f.datetime_select :interview_time %>
  </div>
  <div class="field">
    <%= f.label :study_id %><br>
    <%= f.text_field :study_id %>
  </div>
  <div class="field">
    <%= f.label :interviewer_id %><br>
    <%= f.text_field :interviewer_id %>
  </div>
  <div class="field">
    <%= f.label :interviewee_id %><br>
    <%= f.text_field :interviewee_id %>
  </div>
  <div class="field">
    <%= f.label :locale_id %><br>
    <%= f.text_field :locale_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
