<div class="page-header">
  <%= link_to new_interview_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Interview
  <% end %>
  <h1>Listing interviews</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Interview time</th>
            <th>Study</th>
            <th>Interviewer</th>
            <th>Interviewee</th>
            <th>Locale</th>
            <th>Zip file</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @interviews) do |interview| %>
        <td><%= interview.interview_time %></td>
        <td><%= interview.study %></td>
        <td><%= interview.interviewer %></td>
        <td><%= interview.interviewee %></td>
        <td><%= interview.locale %></td>
        <td><%= link_to 'Download', interview.zipfile.url %></td>
        <td><%= link_to 'Show', interview %></td>
        <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
