<div class="page-header">
  <%= link_to interviews_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_interview_path(@interview), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show interview</h1>
</div>

<dl class="dl-horizontal">
  <dt>Interview time:</dt>
  <dd><%= @interview.interview_time %></dd>

  <dt>Study:</dt>
  <dd><%= @interview.study %></dd>

  <dt>Interviewer:</dt>
  <dd><%= @interview.interviewer %></dd>

  <dt>Interviewee:</dt>
  <dd><%= @interview.interviewee %></dd>

  <dt>Locale:</dt>
  <dd><%= @interview.locale %></dd>

</dl>
