<p id="notice"><%= notice %></p>

<h1>Listing Recordings</h1>

<table>
  <thead>
    <tr>
      <th>Audio</th>
      <th>Recorded</th>
      <th>Interview</th>
      <th>Language</th>
      <th>Word</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recordings.each do |recording| %>
      <tr>
        <td><%= recording.audio %></td>
        <td><%= recording.recorded %></td>
        <td><%= recording.interview %></td>
        <td><%= recording.language %></td>
        <td><%= recording.word %></td>
        <td><%= link_to 'Show', recording %></td>
        <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
        <td><%= link_to 'Destroy', recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recording', new_recording_path %>
