<div class="page-header">
  <%= link_to new_recording_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Recording
  <% end %>
  <h1>Listing recordings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Audio</th>
            <th>Recorded</th>
            <th>Interview</th>
            <th>Phrase</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @recordings) do |recording| %>
            <td><%= audio_tag recording.audio.url, controls: true, autoplay: false %></td>
            <td><%= recording.recorded %></td>
            <td><%= recording.interview %></td>
            <td><%= recording.phrase %></td>
            <td><%= link_to 'Show', recording %></td>
        <td><%= link_to 'Edit', edit_recording_path(recording) %></td>
        <td><%= link_to 'Destroy', recording, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
