<div class="page-header">
  <%= link_to recordings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_recording_path(@recording), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show recording</h1>
</div>

<dl class="dl-horizontal">
  <dt>Audio:</dt>
  <dd><%= audio_tag @recording.audio.url, controls: true, autoplay: false %></dd>

  <dt>Recorded:</dt>
  <dd><%= @recording.recorded %></dd>

  <dt>Interview:</dt>
  <dd><%= @recording.interview %></dd>

  <dt>Language:</dt>
  <dd><%= @recording.language %></dd>

  <dt>Phrase:</dt>
  <dd><%= @recording.phrase %></dd>

</dl>
