<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interviewer.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @interviewer.mobile %>
</p>

<p>
  <strong>Device:</strong>
  <%= @interviewer.device_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interviewer.email %>
</p>

<%= link_to 'Edit', edit_interviewer_path(@interviewer) %> |
<%= link_to 'Back', interviewers_path %>
