<div class="page-header">
  <%= link_to new_phrase_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Phrase
  <% end %>
  <h1>Listing phrases</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Study</th>
        <th>English text</th>
        <th>Audio</th>
        <th>Image</th>
        <th>Choices</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @phrases) do |phrase| %>
        <td><%= phrase.study.try(:name) %></td>
        <td><%= phrase.english_text %></td>
        <td><%= audio_tag phrase.audio.url, controls: true, autoplay: false %></td>
        <td><%= image_tag(phrase.image.url, height: 150, width: 240) %></td>
        <td><%= phrase.string_choices %></td>
        <td><%= link_to 'Show', phrase %></td>
        <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
        <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
