<p id="notice"><%= notice %></p>

<h1>Listing Phrases</h1>

<table>
  <thead>
    <tr>
      <th>English text</th>
      <th>Audio</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.english_text %></td>
        <td><%= phrase.audio %></td>
        <td><%= phrase.image %></td>
        <td><%= link_to 'Show', phrase %></td>
        <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
        <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phrase', new_phrase_path %>
