<div class="page-header">
  <%= link_to phrases_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_phrase_path(@phrase), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show phrase</h1>
</div>

<dl class="dl-horizontal">
  <dt>English text:</dt>
  <dd><%= @phrase.english_text %></dd>

  <dt>Audio:</dt>
  <dd><%= @phrase.audio %></dd>

  <dt>Image:</dt>
  <dd><%= @phrase.image %></dd>

</dl>
