<div class="page-header">
  <h1>Welcome#index</h1>
</div>

<ul>
    <li><%= link_to 'Countries', countries_path %></li>
    <li><%= link_to 'Interviews', interviews_path %></li>
    <li><%= link_to 'Interviewees', interviewees_path  %></li>
    <li><%= link_to 'Interviewers', interviewers_path  %></li>
    <li><%= link_to 'Languages', languages_path  %></li>
    <li><%= link_to 'Locales', locales_path  %></li>
    <li><%= link_to 'Municipalities', municipalities_path  %></li>
    <li><%= link_to 'Phrases', phrases_path  %></li>
    <li><%= link_to 'Recordings', recordings_path  %></li>
    <li><%= link_to 'Regions', regions_path  %></li>
    <li><%= link_to 'Studies', studies_path %></li>
</ul>
