<%= javascript_include_tag :defaults, "nested_form" %>
<%= nested_form_for @study, html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @study.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h4>

      <ul>
        <% @study.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :start_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :language, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select(:language_id, Language.all, :id, :name, class: "form-control") %>
    </div>
  </div>

  <h2>Phrases</h2>
  <dl class="dl-horizontal">
    <%= f.fields_for :phrases do |p| %>
        <label class="col-sm-2 control-label">English Text</label>
        <%= p.text_field :english_text, class: "form-control col-sm-2" %>
        <label class="col-sm-2 control-label">Audio</label>
        <%= p.file_field :audio, class: "form-control" %>
        <label class="col-sm-2 control-label">Image</label>
        <%= p.file_field :image, class: "form-control" %>
        <label class="col-sm-2 control-label">Response Type</label>
        <%= p.select(:response_type_id,
                     options_for_select([['Text', 1], ['Audio', 2], ['Both', 3]]),
                     class: "form-control") %>
        <label class="col-sm-2 control-label">Choices</label>
        <%= p.text_area :choices, class: "form-control" %>
        <%= p.link_to_remove 'Remove', class: 'btn btn-delete' %>
      </p>
    <% end %>
    <p><%= f.link_to_add "Add a phrase", :phrases %></p>
  </dl>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
