<%= nested_form_for @study, html: { class: "form-horizontal", role: "form" } do |f| %>
  <% if @study.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h4>

      <ul>
        <% @study.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :start_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>

  <%= f.fields_for :phrases, @study.phrases do |phrase| %>
    <div class="form-group">
      <%= phrase.label :english_text, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= phrase.text_field :english_text, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= phrase.label :audio, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= phrase.file_field :audio, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= phrase.label :image, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= phrase.file_field :image, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= phrase.label :response_type_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= phrase.select(:response_type_id,
                          options_for_select([['Text', 1], ['Audio', 2], ['Both', 3]]),
                          class: "form-control") %>
      </div>
    </div>
    <!-- todo: fix this bullshit -->
    <div class="form-group">
      <%= phrase.label :choices, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <% choices = phrase.object.choices || [''] %>
        <% choices.each do |choice| %>
          <%# throw params %>
           <%= phrase.text_field :to_s, name: "phrase[choices][]", class: "form-control" %>
        <% end %>
        <%# phrase.text_area :choices, name: "phrase[choices][]", as: :array, class: "form-control" %>
        <%# phrase.fields_for :choices, phrase.object.choices do |choice| %>
        <%#= choice.text_field :choice, class: "form-control" %>
        <%# end %>
        <%# phrase.choices.each do |choice| %>
        <%#= phrase.text_field :choices, name: "phrase[choices][]", as: :array, class: "form-control" %>
        <%# end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= phrase.link_to_remove "Remove this phrase", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.link_to_add "Add a phrase", :phrases, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
