<div class="page-header">
  <%= link_to new_municipality_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Municipality
  <% end %>
  <h1>Listing municipalities</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Region</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @municipalities) do |municipality| %>
            <td><%= municipality.name %></td>
            <td><%= municipality.region %></td>
            <td><%= link_to 'Show', municipality %></td>
        <td><%= link_to 'Edit', edit_municipality_path(municipality) %></td>
        <td><%= link_to 'Destroy', municipality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
