<div class="page-header">
  <%= link_to regions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_region_path(@region), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show region</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @region.name %></dd>

  <dt>Country:</dt>
  <dd><%= @region.country %></dd>

</dl>

<h2>Municipalities of <%= @region.name %></h2>
<%= render "municipalities/table" %>